<!-- ======= About Section ======= -->
<section id="about" class="about section-bg" ng-cloak>
    <div class="container">

        <div class="section-title">
            <h2>{{"ABOUT.TITLE" | translate}}</h2>
        </div>

        <div class="row">
            <div class="col-lg-4 text-center" data-aos="fade-right">
                <img src="/app/assets/img/about-me-photo.png" class="img-fluid" alt="Bilyana">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content pl-md-0 pr-md-5 px-3" data-aos="fade-left" style="display: flex;flex-direction: column;justify-content: center;">
                <p>
                    {{"ABOUT.P1" | translate}}
                </p>
                <p>
                    {{"ABOUT.P2" | translate}}
                </p>
                <p>
                    {{"ABOUT.P3" | translate}}
                </p>
            </div>
        </div>

    </div>
</section><!-- End About Section -->