<div class="d-flex flex-column h-100 m-0 py-3" style="min-height: 600px;">
    <div class="profile mb-5">
        <a href="index.html">
            <img src="app/assets/img/profile-img.png" alt="Bilyana" class="img-fluid">
        </a>
    </div>
    <nav id="navbar" class="nav-menu navbar">
        <ul class="w-100">
            <li ng-repeat="item in menuItems">
                <a href="{{item.link}}" class="nav-link scrollto">
                    <!-- <i class="{{item.classes}}"></i> -->
                    <span>{{item.label | translate}}</span>
                </a>
            </li>
        </ul>
    </nav><!-- .nav-menu -->
    <div class="text-center profile mt-auto">
        <div class="social-links my-3 text-center">
            <a href="https://www.facebook.com/biliana.velikova"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/bilillustrations/"><i class="bi bi-instagram"></i></a>
            <a href="http://linkedin.com/in/bilyana-velikova-b48057aa/"><i class="bi bi-linkedin"></i></a>
            <a href="https://www.behance.net/velikova_biliana?tracking_source=search_users|bilyana%20velikova"><i class="bi bi-behance" aria-hidden="true"></i></a>
        </div>
        <language-selector></language-selector>
    </div>
</div>
<style>
    #header {
        background-color: var(--bg-color);
        box-shadow: 0px 0px 15px #e2e2e2;
    }

    .nav-menu a:hover i, .nav-menu .active i, .nav-menu .active:focus i, .nav-menu li:hover > a i {
        color: var(--accent-color);
    }

    .nav-menu a:hover, .nav-menu .active, .nav-menu .active:focus, .nav-menu li:hover > a {
        color: var(--accent-color);
    }

    #header .profile img {
        border: none;
        width: 100%;
        max-width: 200px;
    }

    menu {
        padding-inline-start: 0px;
    }
</style>