<!-- <section class="breadcrumbs section-bg">
    <div class="container">
        <div class="d-flex justify-content-start align-items-center">
            <ol>
                <li><a href="https://bilillustrations.github.io/">{{'MENU.PORTFOLIO' | translate}}</a></li>
                <li ng-if="!hasError">{{project.title | translate}}</li>
            </ol>
        </div>
    </div>
</section>End Breadcrumbs -->
<section class="breadcrumbs">
<div class="bubbles">
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="d-flex justify-content-start align-items-center px-3" style="height: 100%;">
        <ol>
            <li><a href="https://bilillustrations.github.io/">{{'MENU.PORTFOLIO' | translate}}</a></li>
            <li ng-if="!hasError">{{project.title | translate}}</li>
        </ol>
    </div>
</div>
</section>
<section>
    <div class="inner-page">
        <error ng-if="hasError"></error>
        <div class="row" ng-show="!hasError">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <div class="section-title text-center mb-5 pb-0 px-3">
                    <h2 class="mb-5 p-0" ng-if="project.pageTitle == null">
                        {{project.title | translate}}
                    </h2>
                    <h2 class="m-0 p-0" ng-if="project.pageTitle != null">
                        {{project.pageTitle | translate}}
                    </h2>
                    <p class="mt-5">
                        {{project.description | translate}}
                    </p>
                </div>
                <div class="row mb-sm-2" >
                    <div 
                        data-aos="fade-up" data-aos-delay="{{500*(2+$index)}}"
                        class="py-4 "
                        ng-repeat="image in project.images track by $index" 
                        ng-class="getClassName(image.size)">

                        <img  ng-src="app/assets/img/{{project.slug}}/{{image.path}}" class="fit-image" alt="{{project.title|translate}}"/>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>