<section class="breadcrumbs section-bg">
    <div class="container">
        <div class="d-flex justify-content-start align-items-center">
            <ol>
                <li><a href="https://bilillustrations.github.io/">{{'MENU.PORTFOLIO' | translate}}</a></li>
                <li ng-if="!hasError">{{project.title | translate}}</li>
            </ol>
        </div>
    </div>
</section><!-- End Breadcrumbs -->
<section>
    <div class="inner-page">
        <error ng-if="hasError"></error>
        <div class="row" ng-show="!hasError">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <div class="section-title text-center mb-5 pb-0 px-3">
                    <h2 class="mb-5 p-0" ng-if="project.pageTitle == null">
                        {{project.title | translate}}
                    </h2>
                    <h2 class="m-0 p-0" ng-if="project.pageTitle != null">
                        {{project.pageTitle | translate}}
                    </h2>
                    <p class="mt-5">
                        {{project.description | translate}}
                    </p>
                </div>
                <div class="row mb-sm-2" >
                    <div ng-class="col-sm-{{image.size}}" 
                     class="p-4 p-sm-2" ng-repeat="image in project.images">
                        <img data-aos="fade-up" data-aos-delay="100" ng-src="app/assets/img/little-map/{{image.path}}" class="img-fluid w-100" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>