:root {
    --text-color: #272829;
    --bg-color: white;
    --accent-color: #ec2224;
    --accent-background-color: #ff88c9;
    --accent-background-color-darker: #d465a2;
    --accent-text-color: #ec2224;
    --accent-text-color-darker: #cd1618;
}

#footer {
    position: static;
    width: 100%;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.text-accent {
  color: var(--accent-color);
}

.portfolio #portfolio-filter-category {
    background: white;
}
    .portfolio #portfolio-filter-category li {
        margin: 5px;
        border-radius: 20px;
        background: white;
    }

        .portfolio #portfolio-filter-category li:hover {
            color: white;
            background-color: var(--accent-background-color);
            opacity:0.7;
        }
        .portfolio #portfolio-filter-category li.filter-active {
            color: white;
            background-color: var(--accent-background-color);
        }
.portfolio .portfolio-wrap .portfolio-links {
    bottom: -200px;
    transition: 0.2s ease-in;
}

.portfolio .portfolio-wrap .portfolio-links a {
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 600;
    background-color: transparent;
    color: var(--text-color);
    font-weight: 900;
}

    .section-title h2 {
        color: var(--accent-text-color);
    }

.portfolio .portfolio-wrap::before {
    background: rgba(255, 255, 255, 0.8);
}

.portfolio .portfolio-wrap:hover .portfolio-links {
    top: 0;
    bottom: 0;
    color: var(--text-color);
    flex-direction: column;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
    background-color: transparent;
}

.mobile-nav-toggle,
.back-to-top {
    background-color: var(--accent-text-color);
}

    .mobile-nav-toggle:hover,
    .back-to-top:hover {
        background-color: var(--accent-text-color-darker);
    }

.fit-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
}



/*---------Scroll bar---------*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f9f9f9;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #a5a5a5;
    border-radius: 10px;
}

/* Handle on hover */
-webkit-scrollbar-thumb:hover {
    background: #555;
}
/*---------End scroll bar---------*/

.breadcrumbs {
    padding: 0;
    height: 50px;
    background: #f9f9f9;
}

.mobile-title {
  font-size: 14px;
  text-align: center;
  padding: 15px 10px 25px 10px;
}

.mobile-title a {
  color: #272829;
}

@media (max-width: 767.98px) {
  .portfolio .portfolio-wrap:hover::before {
    background: none;
    display: none;
  }

  .portfolio .portfolio-wrap:hover .portfolio-links {
    display: none;
    top: auto;
  }

  .portfolio .portfolio-wrap .portfolio-links a {
    font-size: 12px;
    text-align: right;
  }
}

.btn-link {
  color: var(--accent-text-color);
}

.btn-link:hover {
  color: var(--accent-text-color-darker);
}

.btn-primary {
    color: #fff;
    background-color: var(--accent-background-color);
    border-color: var(--accent-background-color);
}

    .btn-primary:hover,
    .btn-primary:active,
    .btn-primary:focus,
    .btn-primary.active,
    .btn-primary:focus-visible,
    .btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active {
        /* let's darken #004E64 a bit for hover effect */
        background: var(--accent-background-color-darker);
        border-color: var(--accent-background-color-darker);
    }

.form-control:focus {
    border-color: var(--accent-background-color);
    box-shadow: 0px 0px 4px var(--accent-background-color);
}

.box {
    position: relative;
  }
  
  .box::before,
  .box::after {
    content: '';
    position: absolute;
    bottom: 14px;
    width: 40%;
    height: 10px;
    box-shadow: 0 5px 14px rgb(131 131 131);
    z-index: -1;
    transition: all .3s ease-in-out;
  }
  
  .box::before {
    left: 15px;
    transform: skew(-5deg) rotate(-5deg);
  }
  
  .box::after {
    right: 15px;
    transform: skew(5deg) rotate(5deg);
  }
  
  .box:hover::before,
  .box:hover::after {
    box-shadow: 0 2px 14px rgba(0,0,0,.4);
  }
  
  .box:hover::before {
    left: 5px;
  }
  
  .box:hover::after {
    right: 5px;
  }