 <!-- ======= Contact Section ======= -->
<section id="contact" class="contact" ng-cloak>
    <div class="container">

        <div class="section-title">
            <h2>{{"MENU.CONTACT" | translate}}</h2>
        </div>

        <div class="row" data-aos="fade-in">
            <div class="col-lg-8 col-xl-6 offset-xl-3 offset-lg-2">
                <div>
                    <h4 class="p-0 ">{{"CONTACT.TITLE" | translate}}</h4>
                    <iframe name="redirectframe" id="redirectframe" style="display: none;"></iframe>
                    <form action="https://docs.google.com/forms/d/1NGwjrlMAxPvR2xvg44k7u68HokObsYsy6oR-m_AIOF8/formResponse" 
                            method="post" 
                            target="redirectframe"
                            name="contactForm">
                        <div class="my-4">
                            <label class="form-label px-4" for="entry.993355435">{{"CONTACT.EMAIL" | translate}} *</label>
                            <input class="form-control rounded-5 px-4" type="email" id="entry.993355435" name="entry.993355435" required>
                        </div>
                        <div class="my-4">
                            <label class="form-label px-4" for="entry.488430138">{{"CONTACT.NAME" | translate}} *</label>
                            <input class="form-control rounded-5 px-4" type="text" id="entry.488430138" name="entry.488430138" required>
                        </div>
                        <div class="my-4">
                            <label class="form-label px-4" for="entry.714291970">{{"CONTACT.MESSAGE" | translate}} *</label>
                            <textarea class="form-control rounded-5 px-4 py-3" rows="3" id="entry.714291970" name="entry.714291970"
                                    style="min-height: 60px;"
                                    required></textarea>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary rounded-5" ng-click="resetForm()">
                                {{"CONTACT.SEND" | translate}}
                                <i class="ms-2" ng-if="messageSent">&#10003;</i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Contact Section -->