 <!-- ======= Contact Section ======= -->
<section id="contact" class="contact" ng-cloak>
    <div class="container">

        <div class="section-title">
            <h2>Contact</h2>
            <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
        </div>

        <div class="row" data-aos="fade-in">
            <div class="col-lg-8 col-xl-6 offset-xl-3 offset-lg-2">
                <div>
                    <h4 class="p-0 ">{{"CONTACT.TITLE" | translate}}</h4>
                    <iframe name="redirectframe" id="redirectframe" style="display: none;"></iframe>
                    <form action="https://docs.google.com/forms/d/e/1FAIpQLSdz_Blks2ApIjPPXlTvD4KTggmBkjBvPLOBI7vY896KRlFa7w/formResponse" method="post" target="redirectframe">
                        <div class="my-4">
                            <label class="form-label px-4" for="entry.1751378427">{{"CONTACT.EMAIL" | translate}} *</label>
                            <input class="form-control rounded-5 px-4" type="email" id="entry.1751378427" name="entry.1751378427" required>
                        </div>
                        <div class="my-4">
                            <label class="form-label px-4" for="entry.101822246">{{"CONTACT.NAME" | translate}} *</label>
                            <input class="form-control rounded-5 px-4" type="text" id="entry.101822246" name="entry.101822246" required>
                        </div>
                        <div class="my-4">
                            <label class="form-label px-4" for="entry.414920846">{{"CONTACT.MESSAGE" | translate}}</label>
                            <textarea class="form-control rounded-5 px-4 py-3" rows="3" id="entry.414920846" name="entry.414920846"
                                    style="min-height: 60px;"
                                ></textarea>
                        </div>
                        <div class="my-4 d-flex">
                            <div class="form-check mb-3 mx-auto">
                                <input class="form-check-input" type="checkbox" id="myCheck" name="remember" required>
                                <label class="form-check-label" for="myCheck" style="font-size:12px">{{"CONTACT.AGREE" | translate}}</label>
                            </div>
                        </div>
                        
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary rounded-5">{{"CONTACT.SEND" | translate}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Contact Section -->